:root{
    --color-logo: #2196F3;
    --color-hover: #2196F3;
    --text-font: 'Raleway';
    --color-text-address:#757575;
    --color-link:#000000;
}

body{
    color:#000000;
    font-family: Roboto, fantasy;
}

.logo{
    font-family: var(--text-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
    text-decoration: none;
}

.logo-color{
    font-family: var(--text-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: var(--color-logo);
}

.link-main-menu{
    list-style-type: none;
}

.link-main-menu a{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color:var(--color-link);
}

.link-main-menu a:hover{
    color:var(--color-hover);
}

.link-address-menu{
    list-style-type: none;
}

.link-address-menu a{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color:var(--color-text-address);
}

.link-address-menu a:hover{
    color:var(--color-hover);
}
.list-filter-buttons{
    list-style-type: none;
    
}

.list-filter-buttons button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    background-color:#F5F4FA;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.list-filter-buttons button:hover{
    color: white;
    background-color: #2196F3;
    border: none;
    border-radius: 4px;
}

.list-services{
    list-style-type: none;
}

.list-services h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

.list-services p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.footer{
    background-color: #000000;
}

.logo-footer{
    font-family: var(--text-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: white;
    text-decoration: none;
}

.address-shop{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color:white;
}

.address-shop:hover{
    color: var(--color-hover);
}

